# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Build
build/
DerivedData/
*.app

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# Backup and temporary files
*.swp
*~
.DS_Store
